@charset "UTF-8";

body {
    background: rgb(70, 142, 236);
    font: Normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
}

section > div#res {
    text-align: center;
}

section > div#res > select {
    text-align: center;
    width: 250px;
}

footer {
    color: white;
    text-align: center;
    font-style: Italic;
}